
.about-content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 30%;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid white;
    background-color: rgba(219, 106, 30, 0.35);
    transition: all 0.3s;
}

.about-text {
    left: 75%;
    font-size: 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.about-text p {
    margin: 1em 0;
}

.about-content:hover {
    background-color: rgba(219, 106, 30, 0.55);
    transform: translate(-50%,-50%) scale(1.01);
    transition: all 0.4s;
}
