
.about-content {
    position: absolute;
    top: 20%;
    left: 15%;
   
    display: flex;
    width: 30%;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid white;
    color: rgb(0, 0, 0);
    background-color: rgba(219, 106, 30, 0.35);
    transition: all 0.3s;
}

.about-text {
    top:30%;
    left: 60%;
    font-size: 30px;
    height: 300px;
}

.about-content:hover {
    transform: scale(1.01);
    transition: all 0.4s;
}
